## .NET Core
bin/
obj/
out/
project.lock.json
project.fragment.lock.json
artifacts/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
*.dll
*.exe
*.app
*.log
*.vspscc
*.pdb
*.cache
*.dbmdl

# Visual Studio
.vs/
*.vssscc
*.tmp
*.ide
*.sln.ide

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# dotCover
.idea/
*.dotCover

# Rider
.idea/
*.sln.iml

# Npm / Node
node_modules/
npm-debug.log
yarn-error.log

# Mac
.DS_Store

# Logs
*.log

# Configuration files
appsettings.*.json
secrets.json

# Publish output
wwwroot/dist/
wwwroot/node_modules/
publish/

# JetBrains Rider
.idea/

# Backup & temp
*~ 
*.swp

# Optional: include if using Azure
.scm/

# Docker
**/docker-compose*.yaml
**/*.dockerfile
